   <form [formGroup]="form">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px" fxLayoutGap.lt-md="50px"> 
      <mat-form-field fxFlex>
        <input matInput 
          placeholder="N. d'entreprise"
          formControlName="enterpriseNumber" 
          matTooltip="Numéro d'entreprise. Chaque entité reçoit lors de son inscription à la BCE un numéro d'entreprise"
          #m1 maxlength="10">
        <mat-icon matSuffix>{{iconEdit}}</mat-icon>         
        <mat-hint align="end" style="width: 70px;"> {{m1.value.length}} / 10 </mat-hint>

        <mat-hint *ngIf="hint" class="hint-error">
          Numéro d'entreprise se compose de dix chiffres : un 0 ou un 1, suivi de neuf chiffres 
        </mat-hint> 
    
        <mat-hint *ngIf="!hint">
          Numéro d'entreprise. Chaque entité reçoit lors de son inscription à la BCE un numéro d'entreprise
        </mat-hint>
      </mat-form-field>
    </div>

    <div class="div-both"> </div>

    <fieldset style="padding-bottom:20px;">
    <legend class="fluxTitleGray"> Critère de choix </legend> 
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px" fxLayoutGap.lt-md="50px"> 
        <mat-form-field fxFlex>
          <mat-label>Language</mat-label>
          <mat-select  matTooltip="Language" formControlName="language">
            <mat-option *ngFor="let language of languages" [value]="language.value">
              {{language.viewValue}}
            </mat-option>
          </mat-select>
  
          <mat-hint *ngIf="hint" class="hint-error">
            La valeur doit être selectionneé. 
          </mat-hint> 
  
          <mat-hint *ngIf="!hint"> </mat-hint>
        </mat-form-field>
      </div>

      <div class="div-both" style="margin-top: 20px;"> </div>
  
      <mat-checkbox formControlName="history">History</mat-checkbox>  
    </fieldset>
  
    <div class="div-both"> </div>
    <app-buttons-test-clear 
      [form]="form" 
      [formApi]="getValueFromInputApi()"> 
    </app-buttons-test-clear>
  
  </form>    