<mat-card>
  <app-title-and-description ref-show></app-title-and-description>
  <div class="div-both"> </div>
  <form [formGroup]="form">
    <app-input-rn [form]="form" [(hint)]="show.hint" (childMsgRN)="onNotifyRN($event)"></app-input-rn>

    <fieldset style="padding-bottom:20px;">
      <legend class="fluxTitleGray"> Critère de choix </legend> 
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px" fxLayoutGap.lt-md="50px"> 
          <mat-form-field fxFlex>
            <mat-label>Langue</mat-label>
            <mat-select  matTooltip="Langue" required formControlName="langue">
              <mat-option *ngFor="let langue of langues" [value]="langue.value">
                {{langue.viewValue}}
              </mat-option>
            </mat-select>
  
            <mat-hint *ngIf="show.hint" class="hint-error">
              La valeur doit être selectionneé. 
            </mat-hint> 
  
            <mat-hint *ngIf="!show.hint"> 
              En quelle Langue doit-être rédigé le contenu
            </mat-hint>
          </mat-form-field>
        </div>

      <div class="div-both" style="margin-top: 20px;"> </div>
  
      <mat-checkbox formControlName="historicite">Historicité</mat-checkbox>
    </fieldset>
  
    <div class="div-both"> </div>

    <app-buttons-test-clear 
      [form]="form" 
      [formApi]="getValueFromInputApi()"> 
    </app-buttons-test-clear>
  
  </form>    
</mat-card>